<!DOCTYPE html>
<html lang="en">
<title>Kathy Xu Portfolio HomePage</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div class="container">
    <nav>
       <img class="userLogo" src="/images/logo.jpg" alt="kathy xu logo">
    
    <div class="userDetails">
        <h1>Kathy</h1>
        <h1>Xu</h1>
        <span>Senior Software Engineering Technology Student</span>
    </div>
    <div class="home">
        <ion-icon name="school"></ion-icon>
    </div>
    <div class="about">
        <ion-icon name="person"></ion-icon>
    </div>
    <div class="projects">
        <ion-icon name="folder-open"></ion-icon>
    </div>
    <div class="contactMe">
        <ion-icon name="mail"></ion-icon>
    </div>
    <div class="services">
        <ion-icon name="build"></ion-icon>
    </div>
    </nav>
    <div class="body">
    <h1>Hello!</h1>
    <img class="Kathy Xu" src="/images/Kathy" alt="Kathy Xu Profile Photo">
    <h2>My name is Kathy.</h2>
    <h2>I am currently a third year software engineering technology student at Centennial College.</h2>
    <h2>Recently I completed my co-op placement with Ministry of Community and Social Services(MCCSS).</h2>
    <h2>I will be graduating in April 2024</h2>
    <h2>Please feel free to contact me or explore my website!</h2>
    <br>
<footer>
    <h6>&copy;&nbsp;Copyright Kathy Xu - 2023</h6>
</footer>
    </div>
</div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>