<!DOCTYPE html>
<html lang="en">
<title>Kathy Xu Portfolio HomePage</title>
<!--Kathy Xu - 300840289 - October 09, 2023-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div class="container">
    <nav>
       <img class="userLogo" src="/images/logo.jpg" alt="kathy xu logo">
    
    <div class="userDetails">
        <h1>Kathy</h1>
        <h1>Xu</h1>
        <span>Senior Software Engineering Technology Student</span>
    </div>

    <div class="home">
        <ion-icon name="school"></ion-icon>
    </div>

    <div class="about">
    <a href="/about">
  <ion-icon name="person"></ion-icon>
    </a>
    </div>

    <div class="projects">
        <a href="/projects">
        <ion-icon name="folder-open"></ion-icon>
        </a>
    </div>

    <div class="contactMe">
        <a href="/contactMe">
        <ion-icon name="mail"></ion-icon>
        </a>
    </div>

    <div class="services">
        <a href="/services">
        <ion-icon name="build"></ion-icon>
        </a>
    </div>

    </nav>
    <div class="body">
    <h1>Hello!</h1>
    <h2> Welcome to my {{title}}page!</h2>
    <h2>My name is {{name}}.</h2>
    <h2>I am currently a third year software engineering technology student at Centennial College.</h2>
    <h2>Thank you for taking the time to come across my portfolio.</h2>
    <h2>Please feel free to contact me or explore my website!</h2>
    <h2>To navigate through the site, click on the icons in the navigation bar.</h2>
    <br>

<footer>
    <h6>&copy;&nbsp;Copyright Kathy Xu - 2023</h6>
</footer>

    </div>
</div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>