<!DOCTYPE html>
<html lang="en">
<title>Kathy Xu Projects HomePage</title>
<!--Kathy Xu - 300840289 - October 09, 2023-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div class="container">
    <nav>
       <img class="userLogo" src="/images/logo.jpg" alt="kathy xu logo">
    
    <div class="userDetails">
        <h1>Kathy</h1>
        <h1>Xu</h1>
        <span>Senior Software Engineering Technology Student</span>
    </div>

    <div class="home">
    <a href="/">
  <ion-icon name="school"></ion-icon>
    </a>
    </div>

    <div class="about">
    <a href="/about">
  <ion-icon name="person"></ion-icon>
    </a>
    </div>

    <div class="projects">
        <ion-icon name="folder-open"></ion-icon>
    </div>

    <div class="contactMe">
        <a href="/contactMe">
        <ion-icon name="mail"></ion-icon>
        </a>
    </div>

    <div class="services">
        <a href="/services">
        <ion-icon name="build"></ion-icon>
        </a>
    </div>

    </nav>
    <div class="body">
    <H1>Projects</H1>
    <img class="ladybug" src="/images/ladybug.png" alt="Lady Bug Assignment">
    <h2>The objective of the game is to track the users click input and keep a counter of all the correct clicks a user makes.</h2>
    <img class="bmr" src="/images/BMR.png" alt="BMR calculator">
    <h2>The BMR calculator calculates the user's BMR based on the input given by the user.</h2>
    <img class="marketingweb" src="/images/marketing.png" alt="Web Design - Marketing Website">
    <h2>This website was created to mirror a brokerage website for a new real estate agent.</h2>
    <br>

<footer>
    <h6>&copy;&nbsp;Copyright Kathy Xu - 2023</h6>
</footer>

    </div>
</div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>