<!DOCTYPE html>
<html lang="en">
<title>Kathy Xu Services HomePage</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div class="container">
    <nav>
       <img class="userLogo" src="/images/logo.jpg" alt="kathy xu logo">
    
    <div class="userDetails">
        <h1>Kathy</h1>
        <h1>Xu</h1>
        <span>Senior Software Engineering Technology Student</span>
    </div>
    <div class="home">
<a href="/">
  <ion-icon name="school"></ion-icon>
</a>
    </div>
    <div class="about">
    <a href="/about">
  <ion-icon name="person"></ion-icon>
    </a>
    </div>
    <div class="projects">
        <ion-icon name="folder-open"></ion-icon>
    </div>
    <div class="contactMe">
        <ion-icon name="mail"></ion-icon>
    </div>
    <div class="services">
        <ion-icon name="build"></ion-icon>
    </div>
    </nav>
    <div class="body">
        <h2>Below is a list of services that I offer:</h2>
<img class="webdevphoto" src="/images/webdev.png" alt="Web Development Image">
<li>Website development</li>
<img class="mobileappphoto" src="/images/mobileapp.jpg" alt="Mobile Application Image">
<li>Mobile app development</li>
<img class="codingphoto" src="/images/coding.jpg" alt="Programming Image">
<li>General Programming</li>
    <br>
<footer>
    <h6>&copy;&nbsp;Copyright Kathy Xu - 2023</h6>
</footer>
    </div>
</div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>